.note {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.note.reminder {
  border-left: 5px solid rgb(0, 60, 128);
}

.note h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
